div.infraAreaGlobal {
    border-left: .2em solid #6f3a3a;
}

hr {
    border-bottom: solid #6f3a3a .1em;
}

.infraCorBarraSistema {
    background-color: #6f3a3a !important;
}

label.infraLabelTitulo {
    font-size: 1.4em;
    color: white;
    padding: .1em 0 .1em .3em;
    font-weight: bold;
    background-color: #6f3a3a;
    width: 99%;
}