/* Hacks IE 5 e 6 */
body {
    font-size: 62.5%;
    behavior: url("css/csshover2.htc");
    overflow-y: auto;
}

div.infraBarraTribunal {
    height: 1%;
}

div.infraBarraSistema {
    height: 1%;
}

div.infraMenu ul li a {
    height: 1%;
}

div.infraMenu ul li {
    float: left;
    width: 100%;
}

img.infraImg, img.infraImgNormal {
    filter: alpha(opacity=100);
}

img.infraImg:hover, img.infraImgNormal:hover {
    filter: alpha(opacity=30);
}

img.infraImgOpaca {
    filter: alpha(opacity=30);
}

div.infraAreaDebug {
    word-wrap: break-word
}

;
span.infraDetalhesExcecao {
    word-wrap: break-word
}

;
table.infraTableOrdenacao tr td {
    padding: .1em;
}

div.infraArvore img {
    filter: alpha(opacity=100);
}

div.infraArvore img:hover {
    filter: alpha(opacity=30);
}

