div.infraAreaGlobal {
    border-left: .2em solid #db7890;
}

hr {
    border-bottom: solid #db7890 .1em;
}

.infraCorBarraSistema {
    background-color: #db7890 !important;
}

label.infraLabelTitulo {
    font-size: 1.4em;
    color: white;
    padding: .1em 0 .1em .3em;
    font-weight: bold;
    background-color: #db7890;
    width: 99%;
}